:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --section-accent-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --hero-background-color: #188ce8;
  --font-family: Roboto;
  --accent-font: Raleway;
}

/* Body */
.body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  text-decoration: none;
  list-style: none;
}
.header-nav .link.current {
  color: var(--accent-color);
}

/* Paragraph */
p {
  color: var(--paragraph-text-color);
  font-weight: 400;
}

/* Logo */
.accent-logo {
  color: var(--accent-color);
}
.logo {
  color: var(--secondary-background-color);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer .logo {
  color: var(--section-accent-color);
}

/* Header-Navigation */
.header-nav a:hover,
.header-nav a:focus {
  color: var(--accent-color);
}
.header-nav a {
  color: inherit;
  font-family: inherit;
}

div .header-link {
  color: var(--paragraph-text-color);
  font-weight: 500;
}

div > .header-link:hover,
div > .header-link:focus {
  color: var(--accent-color);
}

.header-link {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/* Hero-Button */
.hero-section .button {
  color: var(--section-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-section .button:hover,
.hero-section .button:focus {
  background-color: var(--hero-background-color);
}

/* Examples-Buttons */
.button {
  font-family: inherit;
  background-color: var(--team-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--section-accent-color);
  background-color: var(--accent-color);
}

/* Hero-Section*/
.hero-section {
  background-color: var(--secondary-background-color);
  color: var(--section-accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/* Advantage-section */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,  1px,  1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.advantage-section h3 {
  font-weight: 700;
}

/* Activity-section + Team-section*/
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* Team-section */
.list .team-list,
.team-member {
  background-color: var(--team-background-color);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

/* Exemples-section */
.exemple-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-title p {
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */
.footer {
  color: var(--section-accent-color);
  background-color: var(--secondary-background-color);
  font-size: 14px;
  line-height: 1.71;
}

address .contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}
address > p {
  color: var(--section-accent-color);
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
  list-style: none;
}
